.badge-currency {
    position: absolute;
    top:5px;
    left:5px;
}

div[scrollx=true], div[scrolly=true] {
    position: relative !important;
    overflow: hidden !important;
  }
  
  div[scrollx=true] {
    overflow-x: auto !important;
  }
  
  div[scrolly=true] {
    overflow-y: auto !important;
  }