<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header color="secondary" *ngIf="dishes.length > 0">
        Platos
    </ion-list-header>
    <ion-item *ngFor="let dish of dishes">
      {{dish.name}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="secondary" *ngIf="products.length > 0">
      Productos Individuales
    </ion-list-header>
    <ion-item *ngFor="let product of products">
      <ion-label>{{product.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
