<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ordenes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="uploadOrders()">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" cancelText="Cancelar" [(ngModel)]="orderDate" (ionChange)="dateChange($event)"></ion-datetime>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let order of orders" (click)="showDetail(order)">
      <ion-icon [name]="order.payment_method == 'E' ? 'cash' : order.payment_method == 'T' ? 'card' : 'bicycle'" slot="start"></ion-icon>
      <ion-label>{{order.sale_date}}</ion-label>
      <ion-badge>{{order.carrier}}</ion-badge>
      <p slot="end">{{order.price | currency:'COP':'$':'1.0'}}</p>
    </ion-item>
  </ion-list>
</ion-content>
