<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      San Fernando
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/san_fernando_icon.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Ordenes e Inventarios</ion-card-subtitle>
        <ion-card-title>San Fernando</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui podras crear ordenes, consultar historial de ordenes y realizar inventarios.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
