<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      San Fernando
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ultimo Inventario</ion-card-title>
              <ion-card-subtitle>03/03/2019</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Datos del inventario
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ventas</ion-card-title>
              <ion-card-subtitle>03/03/2019</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Datos de las ventas
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
